.introduction {
	height: 100vh;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Roboto Condensed", sans-serif;
	
	.introduction__img {
		width: 100%;
		height: inherit;
		background-image: url("../../images/cleaning-intro.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		object-fit: contain;
		h1 {
			max-width: 300px;
			font-family: "Roboto Condensed", sans-serif;
			color: white;
			font-size: clamp(3rem, 5vw, 5rem);
			text-align: center;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	.introduction__link-cont {
		width: min(1500px, 90vw);
		padding: 2rem 2rem 0 0;
		border-bottom: .1px solid rgb(167, 164, 164);
		margin-bottom: 3rem;
		h2 {
			width: fit-content;
			text-transform: uppercase;
			font-weight: 300;
			align-self: center;
			margin-bottom: 0;
			padding-left: 0.5rem;
			display: flex;
			flex-direction: column;
			span {
				font-size: 0.8rem;
				font-weight: 300;
				font-style: italic;
			}
		}
		a {
			width: fit-content;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0.5rem 2rem 0.5rem 2rem;
			background-color: white;
			transition: all 0.3s ease-in-out;
			margin: 1rem 0;
			color: rgb(45, 46, 45);
			font-size: clamp(1rem, 3vw, 1.3rem);
			font-weight: 800;
			display: flex;
			align-items: center;
			border-radius: 50px;
			border: 1px solid black;
			svg {
				margin-left: 1.5rem;
			}
		}
	}
	.introduction__link-cont a:hover {
		background-color: rgb(102, 101, 101);
		color: white;
	}
}

@media (min-width: 1060px) {
	.introduction {
		.introduction__link-cont {
			border-bottom: none;
			display: flex;
			flex-wrap: wrap;
			h2 {
				flex: 1 1 70%;
				margin: auto;
				padding: 0;
			}
			a {
				order: 2;
				flex: 0 1 auto;
				margin: 0;
			}
		}
	}
}
