.introduction {
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.introduction__img {
		width: 100%;
		height: 60vh;
		background-image: url("../../images/cleaning-intro.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		object-fit: contain;
		h1 {
			max-width: 300px;
			font-family: "Roboto Condensed", sans-serif;
			color: white;
			font-size: clamp(3rem, 5vw, 5rem);
			text-align: center;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	.introduction__link-cont {
		width: min(1500px, 90vw);
		padding: 2rem;
		h3 {
			width: fit-content;
			text-transform: uppercase;
			font-weight: 300;
		}
		a {
			width: fit-content;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0.5rem 2rem;
			background-color: rgb(206, 203, 203);
			transition: all 0.3s ease-in-out;
			display: block;
			margin: 1rem 0;
		}
		h6 {
			width: fit-content;
			font-style: italic;
			font-weight: 300;
			font-style: italic;
		}
	}
	.introduction__link-cont a:hover {
		background-color: rgb(102, 101, 101);
		color: white;
	}
}

@media (min-width: 1060px) {
	.introduction {
		// .introduction__img {
		// }
		.introduction__link-cont {
			display: flex;
			flex-wrap: wrap;
			h3 {
				flex: 1 1 40%;
				width: 50vw;
			}
			// a {
				// display: inline-block;
			// }
			h6 {
				margin-top: 0;
				flex: 1 1 100%;
			}
		}
	}
}
